@import "../preset.scss";

.MymentoringList{
    & > .section{
        display:flex;
        flex-direction: column;
        width:100%;
        background-color: white;
        align-items:flex-start;
        justify-content: center;
        
        
        & > h2 {
            font-weight: 500;
            font-family: 'Do Hyeon', sans-serif;
            font-size: 30px;
            margin-bottom: 40px;
        }
        
        & + .section {
            // margin-top: 60px;
            padding: 50px 150px;
            // height: 600px;
        }

        & >.mentoring_cards{
            display: grid;
            row-gap: 50px;
            grid-template-columns: repeat(auto-fill, minmax(300px, auto));
            width: 100%;
            
            & > .more{
                text-decoration: none;
            }

            & > a {
                & > .MyMentoringCard{
                    margin: 0 30px;
                }
            }
        }
    }

    & > .recent-wrapper {
        & > .recent {
            width: 100%;
            height: 75%;
            margin: 0;
            padding: 20px 150px 40px 150px;
            display: flex;
            flex-direction: column;
            background-color: $primary;
            
            & > h2 {
                font-family: 'Do Hyeon', sans-serif;
                font-size: 3rem;
                width: 100%;
                text-align: left;
                padding: 20px 0px;
            }

            & > .card-wrapper {
                & > a {
                    text-decoration: none;
                }
            }
        }
    }
    
    & > .section:nth-child(2n-1){
        background-color: $gray3;
    }
}