@import './preset.scss';

.chat-body{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:800px;
    height:1000px;
    margin:10px auto;
    border-radius: 15px;
    background-color: $senary;
    .chat-area{
        width:800px;
        height:900px;
        .chat-me{
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            .profile-image{
                width:100px;
                height:100px;
                border:1px solid $black;
                margin:10px;
            }
            .description{
                border:1px solid $black;
                border-radius: 0px 15px 15px 15px;
                margin:10px;
                padding:10px;
                background-color: $white;
                .text{
                    word-break: break-all;
                }
            }
        }
        .chat-you{
            display:flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-start;
            .profile-image{
                width:100px;
                height:100px;
                border:1px solid $black;
                margin:10px;
            }
            .description{
                border:1px solid $black;
                border-radius: 15px 0px 15px 15px;
                margin:10px;
                padding:10px;
                background-color: $white;
                .text{
                    word-break: break-all;
                }
            }
        }
    }
    .typing-area{
        display:flex;
        flex-direction: row;
        margin-bottom: 10px;
        .typing-bar{
            width:500px;
            height:100px;
        }
        .send-button{
            width:100px;
            height:100px;
        }
    }
}
