$gray3 :#D4D4D4;

.section{
    display:flex;
    flex-direction: column;
    height:600px;
    width:100%;
    background-color: gray;
    align-items:center;
    justify-content: center;
}

.section:nth-child(2n){
    background-color: white;
}

.subnavbar{
    ul{
        list-style-type: none;
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        border-bottom: 1px solid $gray3;
        margin:0px;
        background-color: white;
    }
    li{
        display:inline-block;
        width:150px;
        padding:15px;
    }
    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
}

.fixedNav{
    position: fixed;
    top : 0px;
    width: 100%;
}

.staticNav{
    position: static;
}