@import "./preset.scss";

.subnavbar{
    
    ul{
        list-style-type: none;
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        border-bottom: 1px solid $gray3;
        margin:0px;
        background-color: white;
    }
    li{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.3rem;
        display:inline-block;
        width:33%;
        padding:0px;
    }
    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        display:inline-block;
        width:300px;
        padding:15px;
    }
}

.fixedNav{
    position: fixed;
    top : 0px;
    width: 100%;
    z-index: 999;
}

.staticNav{
    position: static;
}

.highlighted{
    border-bottom: 3px solid green;
}