@import '../preset.scss';
@import '../Home.scss';

.login_body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:500px;
    height:350px;
    margin:150px auto;
    font-family: 'Do Hyeon', sans-serif;

    .title{
        font-size: 3.5rem;
        padding-bottom: 1rem;
    }
    
    .form{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width:500px;
        height:300px;
    }
    
    .form-group{
        text-align: left;
        font-family: 'Noto Sans KR', sans-serif;
        font-size:2rem;
        label {
            font-family: 'Do Hyeon', sans-serif;
        }
    }
    
    #login_button{
        border-radius: 0px 20px 20px 20px;
        height:50px;
        background-color: $secondary;
    }

    .more{
        margin-left: 0;
        margin-right: 0;
        padding-left: 13.5rem;
        padding-right: 13.5rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        font-size: 1.7rem;
    }

    .register{
        margin-top: 10px;
        font-family: 'Do Hyeon', sans-serif;
        font-size: 1.7rem;
        color: $secondary;
        &:hover{
            color:$gray3;
        }
    }
    
}