@import '../preset.scss';

.profile{
  display:flex;
  flex-direction: column;
  left: 50%;
  right: 50%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  
  .intro{
    display:flex;
    flex-direction: column;
    left: 50%;
    right: 50%;
    height:416px;
    width: 1350px;
    margin: 0 auto;
    background-color: $secondary;
    align-items: center;
    justify-content: center;
    border-radius: 0px 200px 200px 200px;

    .my-img{
      display: flex;
      flex-direction: column;
      border: 1px solid;
      border-radius: 15px;
      width: 150px;
      height: 150px;
    }

    .go-portfolio{
      font-size:30px;
      color: white;
      background-color: $gray2;
      border-radius:10px 10px 10px 0;
      display:flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
      margin: 0px;
      width: 334px;
      height: 105px;
      text-decoration: none;
      color: $white;
    }
  }

  .DM{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary;
    text-decoration: none;
    font-size:20px;
    color: white;
    width: 276px;
    height: 78px;
    margin: 34px;
    padding: 25px, 50px, 25px, 50px;
    border-radius: 10px 10px 10px 0px;
  }

  .mentor_mentorings{
    display: flex;
    flex-direction: column;
    // position: absolute;
    left: 50%;
    right: 50%;
    height:353px;
    width: 1397px;
    margin: 0 auto;
    // background-color: $secondary;
    background-color: $gray3;
    align-items: center;
    justify-content: center;
    li{
      list-style: none;
      font-size: 34px;
      font-weight: bold;
    }
  }
  .blank{
    height:150px;
  }
  .mentee_mentorings{
    display: flex;
    flex-direction: column;
    // position: absolute;
    left: 50%;
    right: 50%;
    height:353px;
    width: 1397px;
    margin: 0 auto;
    background-color: $gray3;
    align-items: center;
    justify-content: center;
    li{
      list-style: none;
      font-size: 34px;
      font-weight: bold;
    }
  }
}
