@import '../preset.scss';

.signup_body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:500px;
    height:600px;
    margin:150px auto;

    .title{
        font-weight: bold;
        font-size: 50px;
    }
    
    .form{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width:500px;
        height:500px;
    }
    
    .form-group{
        text-align: left;
        label {
            font-weight:bold;
            font-size:20px;
        }
    }

    
    #login_button{
        border-radius: 0px 20px 20px 20px;
        height:50px;
        background-color: $secondary;
        font-weight: bold;
    }
}
