@import '../preset.scss';
@import './community.scss';

.community_post {
    @include communityPost;
    .community_title{
        @include communityTitle;
    }
    .community_contents{
        @include communityContent;
    }
    .community_statistics {
        @include communityStatistics;
    }
	.pushed{
		color:red;
	}
	.comments{
		.h{
			display:none;
		}
		.s{
			display:flex;
		}
		.comment{
			flex-direction: row;
			justify-content: space-around;
			border: 1px solid $gray3;
			margin: 10px 0px;
			border-radius: 15px 15px 15px 0px;
			.head{
				display:flex;
				flex-direction: row;
				justify-content: flex-start;
				font-size: 15px;
				margin-left : 10px;
				.profile-image{
					width:100px;
					height:100px;
					border:1px solid $gray2;
					border-radius:50px;
					margin:10px;
				}
			}
			.content{
				display:flex;
				flex-direction: column;
				justify-content: flex-start;
				margin: 10px 0px;
				width:80%;
				.writer{
					color:$gray1;
					text-align: left;
					font-weight: bold;
				}
				.description{
					color:$black;
					text-align: left;
				}
			}
			.tail{
				display:flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-right: 10px;
				font-family: 'Noto Sans KR', sans-serif;
				font-weight: 700;
				.update{
					display:flex;
					flex-direction: row;
					justify-content: flex-start;	
					.delete{
						margin: 5px;
						&:hover{
							color: $gray3;
						}   
					}
					.edit{
						margin: 5px;
						&:hover{
							color: $gray3;
						}   
					}

				}
				.like{
					@include communityLikes;
					width:80px;
				}
				.date{
					font-size:10px;
					color:$gray2;
				}
			}
		}
		.editcomment{
			flex-direction: row;
			justify-content: space-around;
			border: 1px solid $gray3;
			margin: 10px 0px;
			border-radius: 15px 15px 15px 0px;
			.head{
				display:flex;
				flex-direction: row;
				justify-content: flex-start;
				font-size: 15px;
				margin-left : 10px;
				.profile-image{
					width:100px;
					height:100px;
					border:1px solid $gray2;
					border-radius:50px;
					margin:10px;
				}
			}
			.content{
				display:flex;
				flex-direction: column;
				justify-content: flex-start;
				margin: 10px 0px;
				width:80%;
				.writer{
					color:$gray1;
					text-align: left;
					font-weight: bold;
				}
				.edit-description{
					color:$black;
					height:80%;
				}
			}
			.tail{
				display:flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				margin-right: 10px;
				.like{
					@include communityLikes;
					width:80px;
				}
				.date{
					font-size:10px;
					color:$gray2;
				}
			}
		}
	}
	.input-comment{
		padding:10px;
		border-top: 1px solid $gray2;
		display:flex;
		flex-direction: row;
		justify-content: center;
		.description{
			width:900px;
			height:70px;
		}
		.button{
			font-family: 'Noto Sans KR', sans-serif;
			font-weight:500;
			font-size: 1.2rem;
			width:195px;
			height:70px;
			background-color: $secondary;
			margin-left: 5px;
			border: 0;
			&:hover{
				background: $gray3;
				color: white;
			}   
		}

	}
	.buttons{
		display:flex;
		flex-direction: row;
		justify-content: flex-end;
		.button{
			@include button;
		}
		.remove{
			background-color: $gray2;
		}
		.back{
			background-color: $quaternary;
		}
		.edit{
			background-color: $secondary;
		}
	}
}
