@import '../preset.scss';
@import './community.scss';
@import '../Home.scss';

.community_board {
	display: flex;
	align-items: center;
	flex-direction: column;
	width:810px;
	margin: 50px auto;
	a{
		text-decoration: none;
	}
	.title-container{
		display:flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	.title{
		font-family: 'Do Hyeon', sans-serif;
		font-size: 3.3rem;
		width: 600px;
		text-align: left;
		padding-top: 35px;

	}
	.add-button{
		padding-left: 15px;
		.button{
			@include button
		}
		.add{
			background-color: $secondary;
		}
		
	}
	.community_post {
		@include communityPost;
		.community_title{
			@include communityTitle;
		}
		.community_contents{
			@include communityContent;
		}
		.community_statistics {
			@include communityStatistics;
		}
	}
}
