@import '../preset.scss';

@mixin button{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:500;
    font-size: 1.2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    border-radius: 15px 15px 15px 0px;
    margin: 0.2rem;
    color: $white;
    cursor : pointer;
    text-decoration: none;
    background: $secondary;

    &:hover{
        background: $gray3;
        color: white;
        transition: 500ms;
    }
}

@mixin communityPost{
    margin: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: solid;
    width: 800px;
    margin:30px auto;
    background-color: $white;
    border: 2px solid $gray3;
    color: $black;
    border-radius: 20px 20px 20px 0px;
    text-decoration: none;
    color: $gray1;
}
@mixin communityTitle{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: bold;
    padding:5px;
    font-size: 1.5rem;
    text-align: left;
    color: $black;
}
@mixin communityContent{
    padding:20px 10px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}
@mixin communityStatistics{
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 10px 5px;
    .community_comments{
        @include communityComments;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 700;
        color: gray;
    }
    .community_likes{
        @include communityLikes;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 700;
        color: gray;
        &:hover{
            filter: grayscale(40%);
        }
    }
}
@mixin communityLikes{
    border: 1px solid $gray3;
    padding:5px 10px;
    border-radius: 15px 15px 15px 0px;
    img{
        margin: 0px 5px;
        cursor:pointer;
    }
}
@mixin communityComments{
    border: 1px solid $gray3;
    margin-right: 5px;
    padding:5px 10px;
    border-radius: 15px 15px 15px 0px;
    img{
        margin: 0px 5px;
    }
}