@import '../preset';
@import './community.scss';

.edit-article-body{
    display:flex;
    flex-direction: column;
    width:800px;
    margin:30px auto;
    padding:50px;
    border: 5px solid $secondary;
    border-radius: 15px 15px 15px 0px;
    .input-area{
        display:flex;
        flex-direction: column;
        .community_title{
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 30px;
        }
        .community_contents{
            height:500px;
        }
    }
    .buttons{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        .button{
            @include button
        }
        .confirm{
            background-color: $primary;
        }
        .cancel{
            background-color: $gray2;
        }
    }
}