@import '../preset.scss';

.editprofile_body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:500px;
    height:600px;
    margin:150px auto;
    font-family: 'Do Hyeon', sans-serif;
    @import '../Home.scss';

    .title{
        display:flex;
        width: auto;
        font-size: 50px;
    }
    
    .form{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width:500px;
        height:auto;
    }

    .img_select{
        margin-top: 20px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size:1.4rem;
    }

    .form-group{
        text-align: left;
        font-family: 'Noto Sans KR', sans-serif;
        font-size:2rem;
        label {
            font-family: 'Do Hyeon', sans-serif;
            font-size:1.7rem;
        }
    }


    .confirm{
        background-color: $primary;
    }
    .cancel{
        background-color: $gray2;
    }
    
}
