@import '../preset.scss';

.profile{
  display:flex;
  flex-direction: column;
  width:1500px;
  height:1500px;
  justify-content: flex-start;
  margin: 0 auto;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;

  .pro_title{
    padding-top: 60px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 3rem;
    display:flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    width:1300px;
    height:auto;
    margin-top: 0;
  }

  .intro{
    display:flex;
    flex-direction: row;
    height:300px;
    width: 1300px;
    margin: 0 auto;
    background-color: $secondary;
    //border: 5px solid $secondary;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 200px 200px 200px;

    .my-img{
      margin-left: 35px;
      border: 7px solid white;
      border-radius: 200px;
      width: 250px;
      height: 250px;
    }

    .desc-col{
      margin-right: 30px;
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      text-align: left;
      height:300px;
      width: 650px;
      padding-bottom: 40px;
      h1{
        width: auto;
        margin-top: 20px;
        font-family: 'Do Hyeon', sans-serif;
        color: $white;
        font-size: 5rem;
      }
      h3{
        width: auto;
        margin-left: 30px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.3rem;
/*         background-color: white;
        padding: 5px;
        border-radius: 10px; */
      }
      .level{
        font-size: 25px;
        margin-left: 30px;
      }
    }

    .button-col{
      
      display:flex;
      flex-direction: column;
      height:250px;
      justify-content: flex-end;
      padding-right: 100px;
      padding-bottom: 25px;
      margin-top: 10px;
      .go-portfolio{
        display:flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 700;
        font-size:1.3rem;
        border-radius:50px;
        width: 200px;
        height: 75px;
        text-decoration: none;
        background-color: white;
        border: 3px solid $tertiary;
        color: $tertiary;

        &:hover{
          color: white;
          background-color: $gray2;
          border: 0px solid $gray2;
          transition: 500ms;
        }
      }
    }
  }

  .buttons{
    display:flex;
    width: fit-content;
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 4px solid $secondary;
    margin: 30px auto;
    border-radius: 200px 0px 200px 200px;
    margin-left: 1075px;
    padding-left: 15px;
    padding-right: 15px;

    .button{
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 700;
      font-size:1.3rem;
      background-color: $secondary;
      text-decoration: none;
      font-size:20px;
      color: white;
      display:block;
      width: 200px;
      height: 70px;
      line-height: 60px;
      border: 3px solid $secondary;
      border-radius: 50px;

      &:hover{
        background-color: white;
        border: 3px solid $tertiary;
        color: $tertiary;
        transition: 500ms;
      }
    }
    .h{
      display:none;
    }

  }

  .mentorings{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size:1.3rem;
    display: flex;
    flex-direction: column;
    height:400px;
    width: 1300px;
    padding:20px 40px;
    margin: 0 auto;
    background-color: $gray4;
    border-radius: 50px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;

    .mentoring-list-title{
      display:flex;
      flex-direction: row;
      align-items: center;
      height: 50px;
      font-weight: bold;
      font-size:30px;
      margin-bottom:20px;
    }
    .mentoring-lists{
      border:3px solid $secondary;
      border-radius: 20px 20px 20px 20px;
      text-align: left;
      background-color: white;
      margin-left: 30px;
      margin-bottom: 10px;
      &:hover{
        transform: scale(1.1);
        transition: 300ms;
      }
    }
    li{
      font-family: 'Do Hyeon', sans-serif;
      font-size: 2.5rem;
      list-style: none;
    }
    a{
      text-decoration: none;
      color:$secondary;
    }
  }

  .progress_bar{
    display: flex;
    width: 600px;
    
  }
}
