$main-green:#A3DD83;
$second-green:#6BA259;
.headerDiv
{
  
  top: 0;
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
  .logoImage{
   
    height: 50px;
  }

  .header_menu {
    
    display: flex;
       
    align-items: center;
    }
  li{
    list-style-type: none;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
     a{
        text-decoration-line:none;
        color: $main-green;
        transition: all ease 0.5s 0s;
        :visited{
          color:$main-green;
        }
      }
     a:hover{
      color:$second-green;
      font-size: 1.1rem;
     } 
  }
}