
.header_div
{
  background-color:$white;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid $gray3;
  .logo_image{
    height: 50px;
    margin: 0px 50px;
  }
}

.menu_list{
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}

li{
  list-style-type: none;
  margin-right: 5rem;
  font-size: 1rem;
  font-weight: bold;
  a{
    text-decoration: none;
    color:$black;
    &:hover{
        color:$gray3;
    }
  }
}