@import "./ChatMessage.scss";

.ChatMessageSent {
    justify-content: flex-end;

    & > .description {
        border:2px solid $black;
        border-radius: 15px 0px 15px 15px;
        background-color: $quinary;
    }
}