@import '../../preset.scss';

.chat-body{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:800px;
    height:1000px;
    margin:10px auto;
    border-radius: 15px;
    background-color: $secondary;

    .chat-area {
        width:800px;
        height:900px;
    }

    .typing-area {
        display:flex;
        flex-direction: row;
        margin-bottom: 10px;

        .typing-bar {
            width:500px;
            height:100px;
        }

        .send-button {
            display:block;
            background-color: $primary;
            border: 1px solid $black;
            border-radius: 15px 15px 15px 0px;
            width:100px;
            height:100px;
            line-height: 100px;
            margin-left:10px;
            color:$white;
            font-weight: bold;
        }
    }
}
